*{
  margin: 0%;
  overflow-y: hidden;
  padding: 0%;
}

body {
	color: #999;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
}
.form-control {
	box-shadow: none;
	border-color: #ddd;
}
.form-control:focus {
	border-color: #4aba70;
}
.login-form {
  background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?w=360");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form form {
  height: 440px;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 10px 20px 10px rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255,255, 255, 0.3);
  padding: 5px;
  left: 37%;
  top: 2%;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  overflow: hidden;

	/* color: #434343;
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
  background: rgba(255, 255, 255, 0.15);
    box-shadow: 10px 20px 10px rgba(255, 255, 255, 0.1);
	 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px; */
}
.login-form h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}
.login-form .avatar {
	color: #fff;
	margin: 0 auto 30px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4aba70;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
	font-size: 62px;
}
.login-form .form-group {
	margin-bottom: 20px;
}
.login-form .form-control, .login-form .btn {
	min-height: 40px;
	border-radius: 2px;
	transition: all 0.5s;
}
.login-form .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.login-form .btn, .login-form .btn:active {
	background: #4aba70 !important;
	border: none;
	line-height: normal;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #42ae68 !important;
}
.login-form .checkbox-inline {
	float: left;
}
.login-form input[type="checkbox"] {
	position: relative;
	top: 2px;
}
.login-form .forgot-link {
	float: right;
}
.login-form .small {
	font-size: 13px;
}
.login-form a {
	color: #4aba70;
}

.mat-spinner{
  margin: auto;
}
img{
  border:4px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.images{
  width: 20%;
  height: 20%;
  position: absolute;
  padding: 10%;
}

.images img{
  position: absolute;
}
