ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a:hover{
  text-decoration: none;
  color: #FFFFFF;
 }
 .mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
