ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: rgb(252, 15, 153);
}

 .mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}
