<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<mat-toolbar color="primary">
  <span>
    <a routerLink="/faculty/dashboard">View Students</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li >
      <a mat-button routerLink="/faculty">Home</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()"><span class="material-symbols-outlined">logout</span>Logout</button>
    </li>
  </ul>
</mat-toolbar>
