.modal.fade.show {
  display: block;
  background: rgba(224, 9, 9, 0.4);
}

.card-title{
  color: rgb(109, 47, 255);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.div-box {
  border-radius: 20px;
  margin: 20px 0px;
  background-color: #dbf1f3;
  padding-top: 20px;
  box-shadow: 8px 8px 0px 0px #adadad;
}

.div-box:hover {
  background-color: #7de1ee;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.User-name {
	text-align: center;
  font-size: 22px;
  margin: 15px 0px 10px;
}

a:hover{
  text-decoration: none;
}

.designation {
  text-align: center;
  font-size: 16px;
}
.contact-btn {
  margin: 0 auto;
  display: table;
}
.contact-btn .btn {
  width: 95px;
  margin: 15px 5px;
}
.profile-details ul{
padding-left: 10px;
}
.profile-details ul li{
list-style: none;
}
.profile-details ul li a {
  color: #607d8b;
  text-decoration: none;
  padding: 12px 15px;
  display: block;
  border-bottom: 1px solid #f1f1f1;
  border-left: 3px solid transparent;
  transition: 0.4s;
}
.profile-details ul li:last-child a {
border-bottom: none;
border-bottom-right-radius: 20px;
}
.profile-details ul li a i {
  margin-right: 8px;
}

.my-pagination /deep/ .ngx-pagination .current{
  background: red;
}

