.para{
  margin-left: 50px;
}
.rollno{
  font-weight: bold;
  font-size: medium;
  color: darkmagenta;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-toolbar {
  justify-content: space-between;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
